@page
@model Ibas.MenuApp.Pages.ContactInfoModel

<h2>Kontaktinformation</h2>

<p><strong>Navn:</strong> Karen</p>
<p><strong>Intern E-mail:</strong> karen@ibaskantine.dk</p>
<p><strong>Telefonnummer:</strong> +45 12 34 56 78</p>
