@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kantinens menu for uge 45</h1>
</div>

<h1>@ViewData["Title"]</h1>

<style>
    .styled-table {
        border: 2px solid black;
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }
    .styled-table th, .styled-table td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    .styled-table th {
        background-color: #f2f2f2;
    }
</style>

<table class="styled-table">
    <thead>
        <tr>
            <th>Dag</th>
            <th>Varm Ret</th>
            <th>Kold Ret</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MenuItems)
        {
            <tr>
                <td>@item.Day</td>
                <td>@item.VarmRet</td>
                <td>@item.KoldRet</td>
            </tr>
        }
    </tbody>
</table>
